.Q9Ncgb {
  background-color: #0cce6a;
}
.frjPxd {
  background-color: #ffa400;
}
.BukQrf {
  background-color: #ff4e43;
}

.chartSize {
  height: 5px;
  width: 100%;
}

.QKDQJb {
  grid-column-start: 2;
}
.GQ6RS {
  top: -15px;
  height: 4px;
}
.DyTaId {
  position: relative;
  width: 0;
  left: 75%;
  justify-content: center;
}
.cOTkPe {
  margin-top: 8px;
}
.xTnkAf {
  font-size: 18px;
  top: -10px;
}
.f49ZR {
  white-space: nowrap;
}
.LR2yK {
  font-size: 1rem;
}
.approved {
  color: #0cce6a;
}

.warning {
  color: #ffa400;
}

.error {
  color: #ff4e43;
}
.Ykn2A {
  font-weight: 500;
}
